.navbar li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
    color:#484848;
    list-style-type: none;
    padding-top: 27px;


}
.navbar {
justify-content: space-between;
display: flex;
}

.navbar li:hover{

color: #49BBBD;
cursor: pointer;

}
.navbar img:hover{
    cursor: pointer;
}

.navlist{
display: flex;
gap: 40px;
}


.sctn{
margin: 40px 55px;

}

.mainheadH h1 {

color: #2B2F2E;
font-family:Arial, Helvetica, sans-serif;
font-size: 48px;
font-weight: 700;

}
.mainheadH p {
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
font-size: 18px;
color: #646464;
}

.mainheadH {
width: 670px;
position: relative;


}

.mainbutton1 {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #49BBBD;
    width: 157px;
    height: 60px;
    border-radius: 8px;
    border: none;

}

.mainbutton2{
    color: #49babc;
    font-weight: 600;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eafff9;
    width: 157px;
    height: 60px;
    border-radius: 8px;
    border: none;


}

.modelpng 
{
    position: relative;
}

.mainpage{
    justify-content: space-between;
    display: flex;
}
 .maincard1{
position: absolute;
left:400px;
bottom: 120px;
 }

 .maincard2{
position: absolute;
right: 380px;
top: 190px;
 }

 .mainlist{
display: flex;
gap: 42px;
position: absolute;
right: 234px;
}


.mainul{
display: flex;
align-items: center;
list-style-type: none;
color: #1D2939B2;
font-family: Arial, Helvetica, sans-serif;
}

.collab_block{
margin: 20px 40px;
display: flex;
align-items: center;
flex-direction: column;

}

.collab_block_heading{
    color: #2B2F2E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 48px;
}

.collab_block_searchbox{
    display: flex;
    align-items: center;
    gap: 17px;
}

.collab_block_input{
    width: 1000px;
    height: 52px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ACA5A5;
        padding-left: 15px;
        border: none;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.collab_block_button {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #49BBBD;
    width: 128px;
    height: 54px;
    border-radius: 8px;
    border: none;


}


.collab_block_subhead {
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
font-size: 24px;
color: #2B2F2E;
text-align: center;
}

.collab_block_para {
    text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
font-size: 18px;
color: #646464;

}

.collab_block_chips_list{
display: flex;
gap: 20px;
}

.collab_block_chips{
display: flex;
border: 1px solid #ECDDDD ;
border-radius: 8px;
align-items: center;
gap: 15px;
padding-left: 30px;

}

.collab_block_chips_content{
font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
font-size: 25px;
color: #453e3e;

}

.collab_block_chips_icon{

    width: 30px;
    height: 30px;
}

.course_heading {
display: flex;
align-items: center;
justify-content: space-between;

}


.course_heading h3{
color: black;
font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
font-size: 30px;
}

.course_heading h4 {
color: #49BBBD;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
font-size: 20px;

}

.course_card{
    width: 374px;
    height: 617px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 20px 20px;
    box-shadow: 0 4px, 8px rgba(0, 0, 0, 1);

}

.course_card_img{
align-items: center;
margin: 10px 20px;


}

.course_card_features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}
.course_card_feature{
display: flex;
align-items: center;
gap: 9px;

}

.course_card_feature p{
font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
font-size: 14px;
color: #646464;
}

.course_card_feature img {
width: 21px;
height: 21px;
}

.course_card h2{
color: #252641;
font-size: 24px;
font-weight: 500;
font-family: Arial, Helvetica, sans-serif;
align-items: center;
}

.course_card_desc{
font-family: Arial, Helvetica, sans-serif;
color: #696969;
font-size: 18px;
}

.course_card_price{
display: flex;
align-items: center;
justify-content: space-between;

}

.course_card_price img{
    width: 44px;
    height:44px;

}
.course_card_price h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.course_card_price h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: grey;
    text-decoration: line-through;
    font-size: 18px;
    font-style: italic;
}

.course_card_price h5{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #49BBBD;
    font-size: 24px;
}

.course_card_money {
display: flex;
align-items: center;
gap: 15px;

}

.course_card_profile {
    display: flex;
    align-items: center;
    gap: 10px;    
}

.course_section{
background-color:#dff2ff;
padding: 40px 55px;
}
                                               
.course_card_list{
    display: flex;
    gap: 15px;
}

.learn_block {
justify-content: space-between;
display: flex;
align-items: center;
}
.learn_block_head {
    display: flex;
    flex-direction: column;
}

.learn_block_img{
    width: 700px;
    height: 468px;
}

.learn_block_head h3{

    font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
font-size: 24px;
color: #2B2F2E;
}
.learn_block_head p {
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #646464;
}

.services_section{

    background-image: url(bgg.png);
    width: 1350px;
    height: 600px;
    position: relative;
}

.services_block{
background-color: rgba(73,187,189,0.9);
width: 955px;
height: 419px;
text-align: center;
align-items: center;
justify-content: center;
margin-left: 200px;
align-content: center;
position: absolute;
top: 100px;
}
.services_block h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 48px;
text-align: center;
}

.services_block p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.services_block button{

    color: #2BA7A9;
    font-weight: 600;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    width: 213px;
    height: 60px;
    border-radius: 8px;
    border: none;
align-content: center;
}

.collaboration_card_profile{
    display: flex;
    align-items: center;
    gap: 10px; 
    padding-left: 40px;   
}

.collaboration_card_profile h3{
color: #2B2F2E;
font-size: 20px;
font-weight: 600;
font-family: Arial, Helvetica, sans-serif;

}

.collaboration_card
{
    box-shadow: 0 4px 10px rgba(73,187,189,0.4);
    width: 461px;
    height: 421px;

    border-radius: 20px;
}
.collaboration_block_heading{ 
     color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 48px;
    


}

.collaboration_card h2{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #2b2f2e;
    padding-left: 40px;
}

.collaboration_card p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #696984;
    padding-left: 40px;
}

.collaboration_card button{
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #49BBBD;
    width: 227px;
    height: 56px;
    border-radius: 8px;
    border: none;
    margin-left: 40px

}
.collaboration_card_list{
display: flex;
gap: 30px;

}

.labs_block{
    background-color: #54BFC1;
    width: 1355px;
    height: 552px;
    display: flex;
    justify-content: space-evenly;
}
.labs_block_head {
    padding-top: 50px;
    padding-right: 200px;
}
.labs_block_head h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #ffffff;

}

.labs_block_head p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}

.labs_block_head button{
    color: #2BA7A9;
    font-weight: 600;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    width: 213px;
    height: 60px;
    border-radius: 8px;
    border: none;
}

.faqs_block_head{
text-align: center;

}

.faqs_block_head h2{
    color: #2B2F2E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
}

.faqs_block_head p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #646464;
}

.faqs_block_card{
    box-shadow: 0 1px 6px rgba(73,187,189,0.2);
    width: 600px;
    height: 175px;
    border-radius: 15px;
    padding-top: 10px;
}

.faqs_block_card h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #2b2f2e;
    padding-left: 40px;
}

.faqs_block_card p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #696984;
    padding-left: 40px;
}

.faqs_block_card_primary_list{
flex-direction: column;
display: flex;
gap: 5px;
}

.faqs_block_card_secondary_list{
flex-direction: cn;
gap: 5px;
display: flex;
}

.faqs_block_card_list{
display: flex;
align-items: center;

}